<!-- Crear array -->
{% assign images = "" | split: ',' %}
<!-- Asignar valores al array -->
{% for image in site.static_files %}
  {% if image.path contains 'galleries/foodandbeverage' %}
    {% assign images = images | push: image %}
  {% endif %}
  {% if image.path contains 'galleries/hotelandresort' %}
    {% assign images = images | push: image %}
  {% endif %}
  {% if image.path contains 'galleries/landscaping' %}
    {% assign images = images | push: image %}
  {% endif %}
{% endfor %}

<section class="px-0.5">
  <div class="w-full mx-auto mb-7 gap-0.5 md:columns-3 colums-1 space-y-0.5">
    {% for item in images %}
      <img alt="image" class="break-inside-avoid" src="{{ site.baseurl }}{{ item.path}}">
    {% endfor %}
  </div>
  </section>