<header>
  <div class="p-1">
    <div class="mx-auto flex items-center justify-center mt-2">
      <img class="w-80" src="/assets/img/logo.jpg" alt="logo">
    </div>
    <div
      class="container flex justify-between h-16 mx-auto md:justify-center md:space-x-8">
      <ul class="items-stretch hidden space-x-3 md:flex">
        {% for item in site.data.nav %}
        <li class="flex">
          <a rel="noopener noreferrer" href="{{ item.url }}"
            class="flex items-center px-4 text-slate-600 hover:text-slate-900">
            {{ item.title }}
          </a>
        </li>
        {% endfor %}
      </ul>
      <button class="flex lg:hidden md:hidden p-4 cursor-point" id="burger">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
          stroke="currentColor" class="w-6 h-6">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
            d="M4 6h16M4 12h16M4 18h16"></path>
        </svg>
      </button>
      
      <div id="menu" class="hidden bg-white fixed inset-0 z-50 p-4 w-1/3">
        <button class="text-right cursor-pointer" id="close">
          <svg xmlns="http://www.w3.org/2000/svg" class="text-slate-700"
            width="24" height="24" viewBox="0 0 24 24" stroke-width="2"
            stroke="currentColor" fill="none" stroke-linecap="round"
            stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
            <path d="M18 6l-12 12"></path>
            <path d="M6 6l12 12"></path>
          </svg>
        </button>
        <ul class="mt-4 max-h-full space-y-4 overflow-auto">
          {% for item in site.data.nav %}
          <li class="flex">
            <a rel="noopener noreferrer" href="{{ item.url }}"
              class="flex items-center px-4 text-slate-800 hover:text-slate-900">
              {{ item.title }}
            </a>
          </li>
          {% endfor %}
        </ul>
      </div>
      
    </div>
  </div>
</header>
<script src="/assets/js/menu.js"></script>